extends layout

block main
  .col5.main
    .flex
      h1
        p Всі звернення  
    section.flex
    if(data)
      each request in data
        article.col1.flex.column
          .image
            img(src=request.image, alt=request.name)
          i
            h4=request.name
            p=request.organization
            p=request.select
            p=request.text